<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @chef.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @chef.last_name %>
</p>




<%= link_to 'Edit', edit_chef_path(@chef) %> |
<%= link_to 'Back', chefs_path %>
